@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:wght@700&family=Roboto:ital,wght@1,300&display=swap');


body {
    background-color: rgba(213, 190, 234, 0.963);
}

form {
    width: 570px;
}

#about{ font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #d71515;
    text-wrap: balance;
text-align:center;
}

#w3-content {
    font-family: Agbalumo;
}

img {
    width: 100%;
    border-radius: 8px;
}